body { 
    margin-left: 1em; 
    margin-right: 1em; 
    font-family: arial, helvetica, geneva, sans-serif;
	background-color:#ffffff; margin:0px;
}

code {
    font-family: "Andale Mono", monospace; 
}

tt {
    font-family: "Andale Mono", monospace; 
}

body, td, th { font-size: 11pt; }

h1, h2, h3, h4 { margin-left: 0em; }

textarea, pre, tt { font-size:10pt; }
body, td, th { color:#000000; }
small { font-size:0.85em; }
h1 { font-size:1.5em; }
h2 { font-size:1.25em; }
h3 { font-size:1.15em; }
h4 { font-size:1.06em; }

a { font-weight:bold; color: #004080; text-decoration: none; }
a:visited { font-weight:bold; color: #006699; text-decoration: none; }
a:hover { text-decoration:underline; }
hr { color:#cccccc }
img { border-width: 0px; }


h3 { padding-top: 1em; }

p { margin-left: 1em; }

p.name { 
    font-family: "Andale Mono", monospace; 
    padding-top: 1em;
    margin-left: 0em; 
}

blockquote { margin-left: 3em; }

pre.example {
    background-color: rgb(245, 245, 245);
    border-top-width: 1px;
    border-right-width: 1px;
    border-bottom-width: 1px;
    border-left-width: 1px;
    border-top-style: solid;
    border-right-style: solid;
    border-bottom-style: solid;
    border-left-style: solid;
    border-top-color: silver;
    border-right-color: silver;
    border-bottom-color: silver;
    border-left-color: silver;
    padding: 1em;
    margin-left: 1em;
    margin-right: 1em;
    font-family: "Andale Mono", monospace; 
    font-size: small;
}


hr { 
    margin-left: 0em;
	background: #00007f; 
	border: 0px;
	height: 1px;
}

ul { list-style-type: disc; }

table.index { border: 1px #00007f; }
table.index td { text-align: left; vertical-align: top; }
table.index ul { padding-top: 0em; margin-top: 0em; }

div.header, div.footer { margin-left: 0em; }

#container
{
	margin-left: 10%;
	margin-right: 10%;
	background-color: #f0f0f0;
}

#product
{
	text-align: center;
	border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
}

#product big {
	font-size: 2em;
}

#product_logo
{
}

#product_name
{
}

#product_description
{
}

#main
{
	background-color: #f0f0f0;
	border-left: 2px solid #cccccc;
}

#navigation
{
	float: left;
	width: 250px;
	margin: 0;
	font-size: small;
	vertical-align: top;
	background-color: #f0f0f0;
}

#navigation h1 {
	white-space:nowrap;
	background-color:#e7e7e7;
	font-size:1.1em;
	color:#000000;
	text-align:left;
	margin:0px;
	padding:3px;
	border-top:1px solid #dddddd;
	border-bottom:1px solid #dddddd;
}

#navigation ul
{
	white-space:nowrap;
	font-size:1em;
	margin:3px;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#navigation li
{
	margin: 0;
	display: block;
	padding: 3px 12px 0px 8px;
}

#navigation li li a
{
	padding: 0px 3px 0px 17px;
}

#navigation li li strong
{
	padding: 0px 3px 0px 17px;
}

#content
{
	margin-left: 250px;
	padding: 1em;
	border-left: 2px solid #cccccc;
	border-right: 2px solid #cccccc;
	background-color: #ffffff;
}

#about
{
	clear: both;
	margin: 0;
	padding: 5px;
	border-top: 2px solid #cccccc;
	background-color: #ffffff;
}

table.module_list
{
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;
	border-collapse: collapse;
}
table.module_list td
{
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #cccccc;
}
table.module_list td.name { background-color: #f0f0f0; }
table.file_list td.summary { width: 100%; }

table.file_list
{
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;
	border-collapse: collapse;
}
table.file_list td
{
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #cccccc;
}
table.file_list td.name { background-color: #f0f0f0; }
table.file_list td.summary { width: 100%; }


table.function_list
{
	border-width: 1px;
	border-style: solid;
	border-color: #cccccc;
	border-collapse: collapse;
}
table.function_list td
{
	border-width: 1px;
	padding: 3px;
	border-style: solid;
	border-color: #cccccc;
}
table.function_list td.name { background-color: #f0f0f0; }
table.function_list td.summary { width: 100%; }

#TODO: make module_list, file_list, function_list, table_list inherit from a list

